body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    height: 100%;
    border-radius: 40px;
    margin-top: 80px;
}

.sidebar h2 {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 35px;
    font-size: 3rem;
}

.title {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.textarea {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.createsubmitbtn {
    margin-top: 10px;
}

.sidelinks {
    margin-top: 40px;
}

.sidelinks div {
    margin: 10px;
}

body a {
    color: white!important;
    border-radius: 40px!important;
}

.btn {
    border-radius: 40px!important;
}