{% extends "encyclopedia/layout.html" %}

{% block title %}
    Créer une page
{% endblock %}

{% block body %}
    <h1>Créer une page</h1>
    {% if flash %}
        <div class="alert alert-danger" role="alert">
        Cette page existe déjà. Regardez <a href="{% url 'encyclopedia:title' title %}">ici</a>.
        </div>
    {% endif %}
    <form action="{% url 'encyclopedia:create' %}" method="POST">
        {% csrf_token %}
        {{ createform }}
        <input class="btn btn-danger btn-lg mt-3"type="submit" value="Envoyer">
    </form>
{% endblock %}