{% extends "encyclopedia/layout.html" %}

{% block title %}
    Modifier une page
{% endblock %}

{% block body %}
    <h1>Modifier la page - {{ title }}</h1>
    {% if flash %}
        <div class="alert alert-danger" role="alert">
        {{ flash }}
        </div>
    {% endif %}
    <form action="{% url 'encyclopedia:edit' edit=title %}" method="POST">
        {% csrf_token %}
        {{ editform }}
        <div class="createsubmitbtn">
            <input class="btn btn-danger btn-lg" type="submit">
        </div>
    </form>
{% endblock %}